<nav class="<%= (typeof show !== 'undefined') ? 'static' : '' %>" >
  <h1 class="script"><a href='/'>WDInstagram</a></h1>
  <ul>
    <li><a href='/entries'>All Entries</a></li>
    <li><a href='/entries/new'>New Entry</a></li>
  </ul>
</nav>
